<template>
  <div id="header" class="home">
    <div class="container columns">
      <div class="column is-6"></div>
      <div class="column is-6">
        <img alt="Vue logo"  width="180" height="180" src="../assets/fondo-alcancia-02v2.png">
      </div>
    </div>
    <div class="columns">
      <div class="column is-2"></div>
      <div class="column center">
        <PIGGYBANK msg="Ingrese dinero en su alcancia presionando sobre la imagen"/>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import PIGGYBANK from '@/components/piggyBank.vue'

export default {
  name: 'Home',
  components: {
    PIGGYBANK
  }
}
</script>
<style>
</style>