<template>
  <div class="hello">
    <h2><strong>{{ msg }}</strong></h2>
    <br>
    <div class="columns">
      <div class="column is-6">
        <label class="radio">
          <input type="radio"  v-model="addMoney" value="50" name="answer">
          <img alt="Vue logo"  width="70" height="70"   src="../assets/nueva_50_sello_235_1.jpg">
        </label>
        <label class="radio">
          <input type="radio" v-model="addMoney" value="100" name="answer">
          <img alt="Vue logo"  width="78" height="78"  src="../assets/nueva_100_sello_235.jpg">
        </label>
          <label class="radio">
            <input type="radio" v-model="addMoney" value="200" name="answer">
            <img alt="Vue logo"  width="80" height="80"  src="../assets/nueva_200_sello_235.jpg">
          </label>
          <label class="radio">
            <input type="radio" v-model="addMoney" value="500" name="answer">
            <img alt="Vue logo"  width="80" height="80"  src="../assets/nueva_500_sello_235.jpg">
          </label>
        <label class="radio">
          <input type="radio"  v-model="addMoney" value="1000" name="answer">
          <img alt="Vue logo"  width="80" height="80"  src="../assets/nueva_1000_sello_235.jpg">
        </label>
      </div>
      <div class="column is-1 is-right cboton">
        <button class="button is-small is-primary" @click="addCoin">Agregar</button>
      </div>
    </div>
    <div class="control">
    </div>
    <br>
    <br>
    <div class="columns">
      <div class="column is-4">
        <h1><strong>Cantidad de dinero por denominación</strong></h1>
        <p>{{sumCoinsByDenominationR}}</p>
      </div>
      <br>
      <br>
      <div class="control">
        <label class="radio">
          <input type="radio" @click="sumCoinsByDenomination" v-model="sumCoinsBy" value="50" name="answe">
          <img alt="Vue logo"  width="70" height="70"   src="../assets/nueva_50_sello_235_1.jpg">
        </label>
        <label class="radio">
          <input type="radio" @click="sumCoinsByDenomination" v-model="sumCoinsBy" value="100" name="answe">
          <img alt="Vue logo"  width="78" height="78"  src="../assets/nueva_100_sello_235.jpg">
        </label>
        <label class="radio">
          <input type="radio" @click="sumCoinsByDenomination" v-model="sumCoinsBy" value="200" name="answe">
          <img alt="Vue logo"  width="80" height="80"  src="../assets/nueva_200_sello_235.jpg">
        </label>
        <label class="radio">
          <input type="radio" @click="sumCoinsByDenomination" v-model="sumCoinsBy" value="500" name="answe">
          <img alt="Vue logo"  width="80" height="80"  src="../assets/nueva_500_sello_235.jpg">
        </label>
        <label class="radio">
          <input type="radio" @click="sumCoinsByDenomination" v-model="sumCoinsBy" value="1000" name="answe">
          <img alt="Vue logo"  width="80" height="80"  src="../assets/nueva_1000_sello_235.jpg">
        </label>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="columns">
      <div class="column is-4">
        <h1><strong>Cantidad de monedas por denominación</strong></h1>
        {{countCoinsByDenominationR}}
      </div>
      <div class="control">
        <label class="radio">
          <input type="radio" @click="countCoinsByDenomination" v-model="countCoinsBy" value="50" name="answ">
          <img alt="Vue logo"  width="70" height="70"   src="../assets/nueva_50_sello_235_1.jpg">
        </label>
        <label class="radio">
          <input type="radio" @click="countCoinsByDenomination" v-model="countCoinsBy" value="100" name="answ">
          <img alt="Vue logo"  width="78" height="78"  src="../assets/nueva_100_sello_235.jpg">
        </label>
        <label class="radio">
          <input type="radio" @click="countCoinsByDenomination"  v-model="countCoinsBy" value="200" name="answ">
          <img alt="Vue logo"  width="80" height="80"  src="../assets/nueva_200_sello_235.jpg">
        </label>
        <label class="radio">
          <input type="radio" @click="countCoinsByDenomination" v-model="countCoinsBy" value="500" name="answ">
          <img alt="Vue logo"  width="80" height="80"  src="../assets/nueva_500_sello_235.jpg">
        </label>
        <label class="radio">
          <input type="radio"  @click="countCoinsByDenomination" v-model="countCoinsBy" value="1000" name="answ">
          <img alt="Vue logo"  width="80" height="80"  src="../assets/nueva_1000_sello_235.jpg">
        </label>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="columns">

    </div>
    <div class="columns">
      <div class="column is-3">
        <h1><strong>Cantidad de monedas</strong></h1>
        <button class="button  is-small is-primary" @click="countCoins">Consultar</button>
        <p>{{ countCoinsR }}</p>
      </div>
      <div class="column is-3">
        <h1><strong>Cantidad de dinero</strong></h1>
        <button class="button is-small is-primary" @click="sumCoins">Consultar</button>
        <p>{{sumCoinsR}}</p>
      </div>
      <div class="column is-4">
        <h1><strong>Romper alcancia</strong></h1>
        <button class="button is-small is-primary" @click="cleanCoins">Romper</button>
      </div>
    </div>
    <br>
    <div class="columns"></div>
  </div>
</template>

<script>

import axios from 'axios'
import swal from 'sweetalert2'
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  data () {
    return {
      addMoney: 0,
      sumCoinsBy: 0,
      countCoinsBy: 0,
      monedaCincuenta: {
        valor: 0
      },
      sumCoinsByDenominationSend: {
        valor: 500
      },
      countCoinsByDenominationSend: {
        valor: 500
      },
      countCoinsR: '',
      sumCoinsR: '',
      cleanCoinsR: '',
      sumCoinsByDenominationR: '',
      countCoinsByDenominationR: ''
    }
  },
  watch: {
    'sumCoinsBy' (val) {
      this.sumCoinsBy = val
      this.sumCoinsByDenomination()
    },
    'countCoinsBy' (val) {
      this.countCoinsBy = val
      this.countCoinsByDenomination()
    }
  },
  methods: {
    addCoin () {
      if (this.addMoney !== 0) {
        this.monedaCincuenta.valor = this.addMoney
        axios.post('http://localhost:8090/piggi-bank/addCoin', this.monedaCincuenta).then(() => {
            swal.fire( {
              title: 'Felicitaciones!!!',
              text: 'Moneda Guardada',
              type: 'error'
            })
        })
      } else {
        swal.fire( {
          title: 'Por favor...',
          text: 'Seleccione una moneda!',
          type: 'error'
        })
      }
    },
    sumCoinsByDenomination () {
      if (this.sumCoinsBy !== 0) {
        this.sumCoinsByDenominationSend.valor = this.sumCoinsBy
        axios.post('http://localhost:8090/piggi-bank/sumCoinsByDenomination', this.sumCoinsByDenominationSend).then((result) => {
          this.sumCoinsByDenominationR = result.data
        })
      }
    },
    countCoinsByDenomination () {
      if (this.countCoinsBy !== 0) {
        this.countCoinsByDenominationSend.valor = this.countCoinsBy
        axios.post('http://localhost:8090/piggi-bank/countCoinsByDenomination', this.countCoinsByDenominationSend).then((result) => {
          this.countCoinsByDenominationR = result.data;
        })
      }
    },
    countCoins () {
      axios.get('http://localhost:8090/piggi-bank/countCoins').then((result) => {
        this.countCoinsR = result.data;
        if (result.data === 0) {
          swal.fire( {
            title: 'ops.....',
            text: 'Usted no posee monedas ahorradas',
            type: 'error'
          })
        }

      })
    } ,
     sumCoins () {
      axios.get('http://localhost:8090/piggi-bank/sumCoins').then((result) => {
        this.sumCoinsR = result.data;
        if (result.data === 0) {
          swal.fire( {
            title: 'ops.....',
            text: 'Usted no posee dinero ahorrado',
            type: 'error'
          })
        }
      })
    },
    cleanCoins () {
      this.sumCoins()
      swal.fire({
        title: '¿Está seguro de sacar sus ahorros?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Si'
      }).then((result) => {
        if (result.isConfirmed) {
          swal.fire(
              'Felicitaciones !!!',
              'Su cantidad de dinero es : '+ this.sumCoinsR + ' pesos',
              'success'
          )
        }
        axios.get('http://localhost:8090/piggi-bank/cleanCoins').then((result) => {
          this.cleanCoinsR = result.data;
          this.sumCoinsR = '';
          this.countCoinsR = '';
          this.countCoinsByDenominationR = '';
          this.sumCoinsByDenominationR = '';
          this.countCoinsBy = 0;
          this.addMoney = 0;
          this.sumCoinsBy = 0;

        })
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
cboton {
  padding-top: 37px!important;
}
</style>
