<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Piggy Bank</router-link> |
      <router-link to="/about">Autor</router-link>
    </div>
    <br>
    <router-view/>
  </div>
</template>

<style lang="scss">
*{
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  padding: 0;
  margin: 0;
}

#main-container{
  border: solid 1px #ccc;
  width: 850px;
  margin: 100px auto;
}

#nav{
  background: black;
  padding: 10px;
}

h2{
  padding: 0 10px;
}
</style>
